# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE stuff
.idea
.vs
.sln
.vcxproj

# Build directories
cmake-build-*
build
/ReplayLabelEx/Debug/ReplayLabelEx.ilk
/ReplayLabelEx/Debug/ReplayLabelEx.log
/ReplayLabelEx/Debug/ReplayLabelEx.tlog/link.read.1.tlog
/ReplayLabelEx/Debug/ReplayLabelEx.tlog/link.write.1.tlog
/ReplayLabelEx/Debug/vc143.idb
/ReplayLabelEx/Debug/vc143.pdb
/ReplayLabelEx/Debug/ReplayLabelEx.tlog/Cl.items.tlog
/ReplayLabelEx/Debug/ReplayLabelEx.tlog/CL.read.1.tlog
/ReplayLabelEx/Debug/ReplayLabelEx.tlog/CL.write.1.tlog
/ReplayLabelEx/Debug/ReplayLabelEx.tlog/link.command.1.tlog
/ReplayLabelEx/Debug/ReplayLabelEx.tlog/link.secondary.1.tlog
