# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE stuff
.idea
.vs
.sln
.vcxproj

# Build directories
cmake-build-*
build
/src/RCa21956
/.gitignore
/Release/ReplayLabelEx.pdb
/ReplayLabelEx/Release/ReplayLabelEx.log
/ReplayLabelEx/Release/ReplayLabelEx.tlog/CL.read.1.tlog
/ReplayLabelEx/Release/ReplayLabelEx.tlog/link.command.1.tlog
/ReplayLabelEx/Release/ReplayLabelEx.tlog/link.read.1.tlog
/ReplayLabelEx/Release/ReplayLabelEx.tlog/rc.read.1.tlog
/ReplayLabelEx/Release/vc143.pdb
/ReplayLabelEx/Release/ReplayLabelEx.tlog/CL.command.1.tlog
/.gitignore
/.gitignore
/ReplayLabelEx/Release/ReplayLabelEx.tlog/CL.write.1.tlog
/.gitignore
/.gitignore
*.exp
*.pdb
*.log
*.tlog

*.recipe
